<div class="media-card">
  <img class="media-image" src="{{ image }}" />

  <div class="media-card-right">
    <h3 class="text-md font-semibold media-title">{{ title }}</h3>
    <div class="text-lg font-semibold media-subtitle">{{ subtitle }}</div>
    <p class="text-sm font-regular media-description">{{ description }}</p>
  </div>
</div>

<style>
  .media-card {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 48px;
    border-radius: var(--rounded-lg);
    box-shadow: 0px 3px 4px 0px rgba(153, 155, 168, 0.25);
    background-color: white;
  }

  .media-image {
    width: 162px;
    height: auto;
    border-radius: var(--rounded-lg);
    object-fit: cover;
    flex-shrink: 0;
  }

  .media-title {
    margin-bottom: 18px;
  }

  .media-subtitle {
    margin-bottom: 18px;
  }

  .media-description {
    width: 70%;
  }

  @media screen and (max-width: 768px) {
    .media-card {
      gap: 32px;
    }

    .media-image {
      width: 98px;
      height: 98px;
    }
    
    .media-description {
      width: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    .media-card {
      flex-direction: column;
    }

    .media-image {
      width: 100%;
      height: auto;
    }
  }
</style>