<section class="hero">
  <div class="hero-video-cover"></div>

  {% if section.settings.is_video %}
    <div class="hero-video-container">
      <video
        autoplay
        loop
        playsinline
        muted
        class="hero-video">
        <source src="{{ section.settings.hero_video }}" type="video/mp4">
      </video>
    </div>
  {% else %}
    <div class="hero-image-container">
      <img class="hero-image" src="{{ section.settings.hero_image }}" />
    </div>
  {% endif %}

  <div class="hero-txt-container">
    <h1>{{ section.settings.title }}</h1>
    <p>{{ section.settings.description }}</p>
  </div>
</section>

<style>
  .hero {
    min-height: calc(41.6vw);
    margin-top: -82px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-video-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
  }

  .hero-video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
  }

  .hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    min-width: 100%;
    padding-top: 0;
    width: 177.778vh;
    min-height: 56.25vw;
    max-width: none;
  }

  .hero-image-container {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .hero-txt-container {
    position: relative;
    z-index: 3;
    padding: 0 var(--margin-main-desktop);
  }

  .hero-txt-container h1 {
    color: white;
    text-align: center;
    font-family: Holtwood One SC;
    font-size: 4.125rem;
    margin-bottom: 50px;
  }

  .hero-txt-container p {
    color: #FFF;
    text-align: center;
    font-family: Hoefler Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
    .hero {
      min-height: calc(100vh);
    }

    .hero-video {
      width: 100vw;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }

    .hero-txt-container {
      padding: 0 var(--margin-main-tablet);
    }

    .hero-txt-container h1 {
      font-size: 2.6rem;
    }

    .hero-txt-container p {
      font-size: 1.4rem;
    }
  }

  @media screen and (max-width: 576px) {
    .hero-txt-container h1 {
      font-size: 2.4rem;
    }

    .hero-txt-container p {
      font-size: 1rem;
    }
  }
</style>



{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "WELCOME TO THE SAYC"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "The Sleepy Ape Yacht Club is a collection of 10,000 unique NFTs"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Image",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/alchemy/skyborne-legacy.avif"
      },
      {
        "type": "video",
        "id": "hero_video",
        "label": "Hero Video",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/alchemy/v1/video.mp4"
      },
      {
        "type": "checkbox",
        "id": "is_video",
        "label": "Is Video",
        "default": "true"
      }
    ]
  }
{% endschema %}