<section class="media">
  {% render 'media-block',
    fluffy1_color: section.settings.first_fluffy_color1,
    fluffy2_color: section.settings.second_fluffy_color1,
    left_image: section.settings.is_left_image1,
    image: section.settings.image1,
    title: section.settings.title1,
    subtitle: section.settings.subtitle1,
    description: section.settings.description1
  %}
  {% render 'media-block',
    fluffy1_color: section.settings.first_fluffy_color2,
    fluffy2_color: section.settings.second_fluffy_color2,
    left_image: section.settings.is_left_image2,
    image: section.settings.image2,
    title: section.settings.title2,
    subtitle: section.settings.subtitle2,
    description: section.settings.description2
  %}
</section>

<style>
  .media {
    margin: 0 var(--margin-main-desktop);
  }

  @media screen and (max-width: 768px) {
    .media {
      margin: 0 var(--margin-main-desktop);
    }
  }

  @media screen and (max-width: 576px) {
    .media {
      margin: 0 var(--margin-main-mobile);
    }
  }
</style>

{% schema %}
  {
    "name": "Media Block",
    "settings": [
      {
        "type": "checkbox",
        "id": "is_left_image1",
        "label": "Is Left Image 1",
        "default": "true"
      },
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/alchemy/v1/media1.jpeg"
      },
      {
        "type": "text",
        "id": "title1",
        "label": "Title 1",
        "default": "Hello SAYC!"
      },
      {
        "type": "text",
        "id": "subtitle1",
        "label": "Subtitle 1",
        "default": "SAYC is a collection of 10,000 Sleepy Ape NFTs—unique digital collectibles"
      },
      {
        "type": "text",
        "id": "description1",
        "label": "Description 1",
        "default": "SAYC is a collection of 10,000 Sleepy Ape NFTs—unique digital collectibles living on the Ethereum blockchain. Your Sleepy Ape doubles as your Yacht Club membership card, and grants access to members-only benefits, the first of which is access to THE BATHROOM, a collaborative graffiti board. Future areas and perks can be unlocked by the community through roadmap activation."
      },
      {
        "type": "color_picker",
        "id": "first_fluffy_color1",
        "label": "First Fluffy Color 1",
        "default": "#B5A5E0"
      },
      {
        "type": "color_picker",
        "id": "second_fluffy_color1",
        "label": "Second Fluffy Color",
        "default": "#BADAF1"
      },
      {
        "type": "checkbox",
        "id": "is_left_image2",
        "label": "Is Left Image 2",
        "default": "false"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2",
        "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/alchemy/v1/media2.jpeg"
      },
      {
        "type": "text",
        "id": "title2",
        "label": "Title 2",
        "default": "THE SPECS"
      },
      {
        "type": "text",
        "id": "subtitle2",
        "label": "Subtitle 2",
        "default": "Each Sleepy Ape is unique and programmatically generated from over 170 possible traits"
      },
      {
        "type": "text",
        "id": "description2",
        "label": "Description 2",
        "default": "The apes are stored as ERC-721 tokens on the Ethereum blockchain and hosted on IPFS. (See Record and Proof.) Purchasing an ape costs 0.08 ETH. To access members-only areas such as THE BATHROOM, Apeholders will need to be signed into their Metamask Wallet."
      },
      {
        "type": "color_picker",
        "id": "first_fluffy_color2",
        "label": "First Fluffy Color 2",
        "default": "#BADAF1"
      },
      {
        "type": "color_picker",
        "id": "second_fluffy_color2",
        "label": "Second Fluffy Color",
        "default": "#E3F1BA"
      }
    ]
  }
{% endschema %}