<section class="roadmap" id="roadmap">
  <h2 class="section-title section-title-center">{{ section.settings.title }}</h2>

  <div class="roadmap-cards">
    {% render 'media-card',
      title: section.settings.card_title1,
      subtitle: section.settings.card_subtitle1,
      description: section.settings.card_description1,
      image: section.settings.card_image1
    %}
    {% render 'media-card',
      title: section.settings.card_title2,
      subtitle: section.settings.card_subtitle2,
      description: section.settings.card_description2,
      image: section.settings.card_image2
    %}
    {% render 'media-card',
      title: section.settings.card_title3,
      subtitle: section.settings.card_subtitle3,
      description: section.settings.card_description3,
      image: section.settings.card_image3
    %}
  </div>
</section>

<style>
  .roadmap {
    background-color: #F9F9FF;
    padding: 96px var(--margin-main-desktop);
  }

  .roadmap-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 48px;
    gap: 48px;
  }

  @media screen and (max-width: 786px) {
    .roadmap {
      padding: 64px var(--margin-main-tablet);
    }
  }

  @media screen and (max-width: 576px) {
    .roadmap {
      padding: 48px var(--margin-main-mobile);
    }
  }
</style>

{% schema %}
{
  "name": "Section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Roadmap"
    },
    {
      "type": "image_picker",
      "id": "card_image1",
      "label": "Card Image 1",
      "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/alchemy/v1/pixel1.jpeg"
    },
    {
      "type": "text",
      "id": "card_title1",
      "label": "Card Title 1",
      "default": "Season 1"
    },
    {
      "type": "text",
      "id": "card_subtitle1",
      "label": "Card Subtitle 1",
      "default": "The Advent of SAYC"
    },
    {
      "type": "text",
      "id": "card_description1",
      "label": "Card Description 1",
      "default": "We launch limited edition SAYC NFTs and create community spaces to foster engagement. We also seek partnerships with blockchain entities and host our first online community event."
    },
    {
      "type": "image_picker",
      "id": "card_image2",
      "label": "Card Image 2",
      "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/alchemy/v1/pixel2.jpeg"
    },
    {
      "type": "text",
      "id": "card_title2",
      "label": "Card Title 2",
      "default": "Season 2"
    },
    {
      "type": "text",
      "id": "card_subtitle2",
      "label": "Card Subtitle 2",
      "default": "Expansion of Content and Value Increase"
    },
    {
      "type": "text",
      "id": "card_description2",
      "label": "Card Description 2",
      "default": "SAYC integrates with popular metaverses, introduces limited edition merchandise, organizes a larger community event, and conducts airdrops to thank and incentivize our community."
    },
    {
      "type": "image_picker",
      "id": "card_image3",
      "label": "Card Image 3",
      "default": "https://dev-cocoshop-images.s3.us-east-2.amazonaws.com/alchemy/v1/pixel3.jpeg"
    },
    {
      "type": "text",
      "id": "card_title3",
      "label": "Card Title 3",
      "default": "Season 3"
    },
    {
      "type": "text",
      "id": "card_subtitle3",
      "label": "Card Subtitle 3",
      "default": "Solidifying the SAYC Legacy"
    },
    {
      "type": "text",
      "id": "card_description3",
      "label": "Card Description 3",
      "default": "We establish a DAO to manage SAYC, expand to new platforms, celebrate the DAO with a community event, and announce sustainability initiatives."
    }
  ]
}
{% endschema %}